<header>
    <div flex="dir:top">
        <span flex-box="1" flex="cross:center" class="title">
            <a href="/posts"><%= blog.title %></a>
        </span>
        <span flex-box="0" flex="cross:top" class="notice"><%= blog.description %></span>
    </div>
</header>
