<nav class="nav">
    <% if (user) { %>
        <span>
            <a class="item" href="/posts?author=<%= user._id %>">个人主页</a>
        </span>
        <span>
            <a class="item" href="/posts/create">Post</a>
        </span>
        <span>
            <a class="item" href="/signout">signout</a>
        </span>
    <% } else { %>
        <span>
            <a class="item" href="/signin">signin</a>
        </span>
        <span>
            <a class="item" href="/signup">signup</a>
        </span>
    <% } %>
</nav>
