<%- include header %>
<form>
    <p>
        <label>username</label>
        <input type="text" name="username"/>
    </p>
    <p>
        <label>password</label>
        <input type="password" name="password"/>
    </p>
    <p>
        <button type="submit">login in</button>
    </p>
</form>
<%- include footer %>
