*,
body {
  margin: 0;
  padding: 0;
}
header {
  padding: 0 20px;
  height: 100%;
  color: #fff;
  background: #00beff;
}
header a {
  text-decoration: none;
  font-style: normal;
  color: #fff;
  font-size: 36px;
}
header .notice {
  height: 30px;
  font-size: 12px;
  color: #bde3f1;
}
nav {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d0d0d0;
}
nav span {
  padding: 15px 20px;
}
nav span:first-child {
  padding-left: 0;
}
nav span a {
  text-decoration: none;
  color: #00beff;
  cursor: pointer;
}
nav span a:hover {
  color: #f60;
}
