.signin {
  padding: 20px;
  box-sizing: border-box;
}
.signin .panel {
  padding: 10px 0;
  height: 24px;
}
.signin .panel label {
  display: inline-block;
  width: 80px;
  color: #999;
}
.signin .panel input,
.signin .panel select {
  padding: 2px 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.signin .submit {
  padding-left: 85px;
  margin-top: 30px;
  height: 50px;
}
.signin .submit input {
  width: 120px;
  height: 30px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #00beff;
  cursor: pointer;
}
.signin .submit input:hover {
  background: #77c8e4;
}
